<div class="left_content">
      <div class="title"><span class="title_icon"><img src="/images/bullet1.gif" alt="" /></span><%= @flower.name %></div>
      <div class="feat_prod_box_details">
        <div class="prod_img"><a href="http://www.free-css.com/"><img src="/images/prod1.gif" alt="" border="0" /></a> <br />
          <br />
          <%= button_to "To Cart", line_items_path(:flower_id => @flower.id), 
                                                      :remote => true,
                                                      :disable_with => "Wait...",
                                                      :class => "addtocart" if user_signed_in? %></div>
        <div class="prod_det_box">
          <div class="box_top"></div>
          <div class="box_center">
            <div class="prod_title">Details</div>
            <p class="details"><%= @flower.description %></p>
            <div class="price"><strong>PRICE:</strong> <span class="red"><%= number_to_currency @flower.price %></span></div>
            <div class="price"><strong>COLORS:</strong> <span class="colors"><img src="/images/color1.gif" alt="" border="0" /></span> <span class="colors"><img src="/images/color2.gif" alt="" border="0" /></span> <span class="colors"><img src="/images/color3.gif" alt="" border="0" /></span> </div>
            
            <div class="clear"></div>
          </div>
          <div class="box_bottom"></div>
        </div>
        <div class="clear"></div>
      </div>
      <div id="demo" class="demolayout">
        <ul id="demo-nav" class="demolayout">
          <li><%= link_to "More details", '#', :class => "active" %></li>
        </ul>
        <div class="tabs-container">
          <div style="display: block;" class="tab" id="tab1">
            <p class="more_details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
            <ul class="list">
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
            </ul>
            <p class="more_details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>