<div class="header">
    <div class="logo"><%= link_to image_tag("logo.gif"), root_path %></div>
    <div id="menu">
      <ul>
        <li <%= "class='selected'" if controller_name == "home" && action_name=="index" %>><%= link_to "home", root_path %></li>
        <li <%= "class='selected'" if controller_name == "home" && action_name=="about" %>><%= link_to "about us", about_path %></li>
        <li <%= "class='selected'" if controller_name == "flowers" && (action_name=="index" || action_name=="show") %>><%= link_to "flowers", flowers_path %></li>
        <li <%= "class='selected'" if controller_name == "gifts"%>><%= link_to "specials gifts", gifts_path %></li>

        <% if user_signed_in? %>
          <li>
            <%= link_to('logout', destroy_user_session_path, :method => :delete) %>
          </li>
          <li <%= "class='selected'" if controller_name == "registrations"%>>
            <%= link_to('my account', edit_user_registration_path) %>
          </li>
        <% else %>
          <li <%= "class='selected'" if controller_name == "sessions"%>>
            <%= link_to('login', new_user_session_path)  %>
          </li>
          <li <%= "class='selected'" if controller_name == "registrations"%>>  
            <%= link_to('register', new_user_registration_path)  %>
          </li>
        <% end %>
        <li <%= "class='selected'" if controller_name == "flowers" && action_name=="prices" %>>
            <%= link_to('prices', prices_path)  %>
        </li>
        <li <%= "class='selected'" if controller_name == "home" && action_name=="contact" %>>
          <%= link_to "contact", contact_path %>
        </li>
      </ul>
    </div>
  </div>